<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
          
            height: 100%;
            width: 100%;
        }
        #mainCanvas {
            display: inline-block
        }
    </style>
</head>
<body>
    <canvas id="mainCanvas"></canvas>
    <canvas id="mainHitCanvas"></canvas>
    <canvas id="adminOverlayCanvas" style="position:absolute; top:0; left:0; pointer-events:none;"></canvas>
    <canvas id="adminOverlayHitCanvas"></canvas>

    <div id="user"><%=  mode  %></div>
    <div id="data">
        <%- JSON.stringify( forms ) %>
    </div>
   

    <input id="canvasTextInput" type="text" style="position:absolute; opacity:0; pointer-events:none;" />

    <script type="module" src="/forms/app.js"></script>
   <!-- <script type="module" src="/app.js"></script>-->
</body>
</html>